<h1>Carrito de Compras</h1>
<hr>

{{!-- Imprimir el contexto para depuración --}}
<pre>{{log this}}</pre>

{{#each carts}}
<h2>Carrito {{_id}}</h2>
<ul>
    {{#each productos}}
    <li>
        {{nombre}} - {{precio}}$ - Cantidad: {{cantidad}}
        <button class="eliminar-producto" data-id="{{_id}}">Eliminar</button>
    </li>
    {{/each}}
</ul>
{{/each}}

<a href="/">Seguir Comprando</a>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const botonesEliminarProducto = document.querySelectorAll('.eliminar-producto');
        botonesEliminarProducto.forEach(boton => {
            boton.addEventListener('click', async () => {
                const productoId = boton.getAttribute('data-id');
                try {
                    const respuesta = await fetch(`/api/carts/${productoId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (respuesta.ok) {
                        alert('Producto eliminado del carrito correctamente');
                        // Recargar la página para actualizar la lista de productos en el carrito
                        window.location.reload();
                    } else {
                        throw new Error('Error al eliminar el producto del carrito');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Ocurrió un error al eliminar el producto del carrito');
                }
            });
        });
    });
</script>