<h2>Productos:</h2>
<hr>
<h3 data-carrito="{{usuario.carrito}}" id="h3Usuario">Usuario conectado: {{usuario.nombre}}</h3>
{{!-- <input type="text" id="carrito" value="{{usuario.carrito}}" hidden> --}}
<ul>
    {{#each productos}}
        <li>
            {{nombre}} - precio: {{precio}} <button onclick="agregar('{{_id}}')">Agregar a carrito</button>
        </li>
    {{/each}}
</ul>

{{!-- <a href="/api/carritos/{{usuario.carrito}}">VerCarrito</a> --}}
<a href="/carts">VerCarrito</a>
<li>
    <a href="/">Pagina de Inicio</a>
</li>
<li>
    <a href="/api/sessions/logout">Cerrar sesion</a>
</li>

{{#if hasPrevPage}}
    <a href="/productos?pagina={{prevPage}}">Pag.Ant.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/productos?pagina={{nextPage}}">Pag.Sig.</a>
{{/if}}

<a href="/productos?pagina={{totalPages}}">Ult. Pag.</a>

<input type="text" id="pagina">

<script>
    let inputPagina=document.getElementById("pagina")

    inputPagina.addEventListener("change", e=>{
        e.preventDefault()
        //alert("cambio")
        window.location.href="/productos?pagina="+inputPagina.value
    })

</script>


 <script src="/products.js"></script>

<script src="socket.io/socket.io.js"></script>