<h1>Pagina de Productos</h1>
<hr>

<h2>Bienvenido {{nombreUsuario}}, Acá está nuestro listado de Productos:</h2>

<ul id="productos">
    {{#each productos}}
    <li>{{nombre}} - {{precio}}$ <button class="agregar-carrito" data-id="{{_id}}">Agregar al carrito</button></li>
    {{/each}}
</ul>

<li>
    <a href="/">Pagina de Inicio</a>
</li>
<li>
    <a href="/api/sessions/logout">Cerrar sesion</a>
</li>

<a href="/productos?pagina=1">Pag.1</a>

{{#if hasPrevPage}}
    <a href="/productos?pagina={{prevPage}}">Pag.Ant.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/productos?pagina={{nextPage}}">Pag.Sig.</a>
{{/if}}

<a href="/productos?pagina={{totalPages}}">Ult. Pag.</a>

<input type="text" id="pagina">

<script>
    let inputPagina=document.getElementById("pagina")

    inputPagina.addEventListener("change", e=>{
        e.preventDefault()
        //alert("cambio")
        window.location.href="/productos?pagina="+inputPagina.value
    })

</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const botonesAgregarCarrito = document.querySelectorAll('.agregar-carrito');
        botonesAgregarCarrito.forEach(boton => {
            boton.addEventListener('click', async () => {
                const productoId = boton.getAttribute('data-id');
                try {
                    const respuesta = await fetch(`/api/carts/${productoId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (respuesta.ok) {
                        alert('Producto agregado al carrito correctamente');
                    } else {
                        throw new Error('Error al agregar el producto al carrito');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Ocurrió un error al agregar el producto al carrito');
                }
            });
        });
    });
</script>

<script src="socket.io/socket.io.js"></script>